<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <servers>
     <server>
      <id>internalMavenSnapshotRepository</id>
      <username>admin</username>
      <password>admin123</password>
    </server> 
    <server>
      <id>internalMavenReleaseRepository</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
  </servers>

  <mirrors>
     <mirror>
      <id>internalMavenReleaseRepository</id>
      <mirrorOf>*</mirrorOf>
      <name>internalMavenReleaseRepository</name>
      <url>http://13.127.237.255:8081/repository/devops-repository-group</url>
    </mirror>   
  </mirrors>

    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <profiles>
        <profile>
      <id>snapshots</id>
      <activation>
      <activeByDefault>true</activeByDefault>
     </activation>
      <repositories>
        <repository>
          <id>internalMavenSnapshotRepository</id>
          <name>internalMavenSnapshotRepository</name>
          <releases>
            <enabled>false</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
          <url>http://13.127.237.255:8081/repository/devops-snapshots</url>
          <layout>default</layout>
        </repository>
      </repositories>    
    </profile>
    <profile>
      <id>release</id>
      <repositories>
        <repository>
          <id>internalMavenReleaseRepository</id>
          <name>internalMavenReleaseRepository</name>
          <releases>
            <enabled>false</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
          <url>http://13.127.237.255:8081/repository/devops-releases</url>
          <layout>default</layout>
        </repository>
      </repositories>    
    </profile>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <sonar.host.url>http://104.155.152.144:9000</sonar.host.url>
                <sonar.issueReport.html.enable>true</sonar.issueReport.html.enable>
                <sonar.analysis.mode>preview</sonar.analysis.mode>
            </properties>
        </profile>
     </profiles>
</settings>
